
<!-- <div class="container">
    <section class="row"> -->
        <!-- <app-sidebar > </app-sidebar> -->
        <!-- <app-home class="col-10">   </app-home>  -->
        <!-- <router-outlet></router-outlet> -->
        <!-- <app-order> </app-order> -->

    <!-- </section>
</div> -->
<!-- <app-footer> </app-footer> -->
<!-- 
<app-nabvar> </app-nabvar>
<div class="container-fluid">
    <section class="row">
 
        

    </section>
  </div>
  <app-footer></app-footer>
 -->

<app-nabvar> </app-nabvar>

 <div class="container-fluid ps-0">
  <section class="row">
    <!-- <app-sidebar class="col-2"></app-sidebar>
    <div class="col-10"> -->
        <router-outlet></router-outlet>
    <!-- </div>
  </section> -->
<!-- </div> -->
<app-footer></app-footer>